*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background: #242B33;
}
img {
    max-width: 100%;
}
.container{
    width: 1100px;
    margin: auto;
}

/* header */
.header{
    background: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
}
.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 200px;
}
.header__logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}
.header__block-logo{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    font-family: 'Passion One', sans-serif;
}
.header__block-subtitle{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
.header__list{
    display: flex;
    list-style: none;
}
.header__list li{
    margin-right: 40px;
}
.header__list li:last-child{
    margin-right: 0px;
}
.header__link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover{
    color: #D4C17F;
}
.header__burger{
    display: none;
}
.header-title{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    max-width: 556px;
    margin: auto;
    color: #D4C17F;
    margin-bottom: 100px;
}
.header-img{
    display: flex;
    margin: auto;
    background-image: url(../img/mouse.svg);
    position: relative;

    animation-name: mouse-top;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mouse-top {   
  0% {     
    top: 0;   
  }    
  100% {
    top: 10px;
   }
}
.header__info{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 74px;
}
.header__info-loc{
    display: flex;
    align-items: center;
}
.img-loc{
    margin-right: 18px;
}
.img-tel{
    margin-right: 18px;
}
.header__text{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.text-loc{
    margin-right: 100px;
}

@media (max-width: 1200px){
    .container{
        width: 950px;
    }
}
@media (max-width: 991px){
    .container{
        width: 750px;
    }
    .header__list li{
        margin-right: 20px;
    }
    .header__list li:last-child{
        margin-right: 0px;
    }
}
@media (max-width: 767px){
    .container{
        width: 95%;
    }
    body.lock{
        overflow: hidden;
    }
    .header-img{
        display: none;
    }
    .header__block{
        padding-top: 10px;
        margin-bottom: 100px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 2;
    }
    .header__menu{
        overflow: auto;
    }
    .header__burger span{
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #242B33;
        transition: all 700ms ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__block-logo{
        font-size: 30px;
    }
    .header__block-subtitle{
        font-size: 11px;
    }
    .header__list{
        padding: 0;
        padding-top: 100px;
        flex-direction: column;
        text-align: center;
    }
    .header__list li{
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .header__link{
        font-size: 35px;
    }
    .header__link:after{
        content: '';
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        background: #fff;
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }
    .header__link-end:after{
        content: none;
    }
    .header-title{
        font-size: 35px;
        line-height: 50px;
    }
    .header__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        padding-bottom: 34px;
    }
    .text-loc{
        margin-right: 15px;
    }
    .header__info-loc{
        margin-bottom: 15px;
    }
    .header__text{
        font-size: 14px;
    }
}

/* inform */
.inform__block{
    display: flex;
    margin: auto;
    margin-top: 120px;
    width: 794px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 120px;
}
.inform__block-content{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}
.inform__block-content:last-child{
    margin-right: 0;
}
.inform__img{
    margin-bottom: 53px;
}
.inform__text{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    width: 200px;
}
@media (max-width: 1200px){
    .container{
        width: 950px;
    }
}
@media (max-width: 991px){
    .container{
        width: 750px;
    }
    .inform__block{
        width: auto;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .inform__img{
        margin-bottom: 20px;
    }
    .inform__block-content{
        margin-right: 0;
        margin-bottom: 30px;
        flex-basis: 35%;
        align-items: center;
    }
}
@media (max-width: 767px){
    .container{
        width: 95%;
    }
    .inform__block-content{
        margin-bottom: 20px;
        flex-basis: 48%;
        align-items: center;
    }
}
@media (max-width: 580px){
    .container{
        width: 95%;
    }
    .inform__block{
        margin-bottom: 30px;
    }
    .inform__block-content{
        margin-bottom: 20px;
        flex-basis: 100%;
        align-items: center;
    }
}

/* loft */
.title{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin: 0;
}
.loft__title{
    margin-bottom: 100px;
}
.loft__text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    padding-left: 50px;
    padding-top: 248px;
}
.loft__content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; 
}
.loft__content-cart{
    display: flex;
    flex-basis: 49%;
    margin-bottom: 30px;
}

@media (max-width: 1200px){
    .container{
        width: 950px;
    }
    .loft__text{
        padding-top: 200px;
    }
}
@media (max-width: 991px){
    .container{
        width: 750px;
    }
    .loft__text{
        padding-top: 160px;
        font-size: 20px;
    }
}
@media (max-width: 767px){
    .container{
        width: 95%;
    }
    .loft__text{
        padding-left: 15px;
        padding-top: 130px;
        font-size: 20px;
    }
    .loft__title{
        margin-bottom: 50px;
        font-size: 30px;
    }
}
@media (max-width: 580px){
    .container{
        width: 95%;
    }
    .loft__content-cart{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .loft__text{
        padding-left: 40px;
        padding-top: 150px;
        font-size: 16px;
    }
    .loft__title{
        margin-bottom: 30px;
        font-size: 25px;
    }
}

/* form */
.form{
    background: url(../img/input.jpg);
    background-size: cover;
    background-position: center;
}
.form__title{
    padding-top: 180px;
    margin-bottom: 29px;
}
.form__content{
    display: flex;
    align-items: center;
    padding-bottom: 180px;
}
.form__text{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 48%;
    margin-right: 35px;
}
.form__social{
    flex-basis: 50%;  
    display: flex;  
}
.form__input{
    background: #FFFFFF;
    opacity: 0.4;
    font-size: 14px;
    line-height: 27px;
    color: black;
    display: inline-block;
    text-align: center;
    width: 45%;
    height: 50px;
    margin-bottom: 35px;
    outline: none;
}
.form__input:focus{
    opacity: 0.6;
    color: black;
    font-weight: 700;    
}
.form__name{
    margin-right: 30px;
}

.form__inform{
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    width: 45%;
    margin-right: 30px;
    text-align: center;
    color: #E7E7E7;
}
.button{
    background: #D4C17F;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    width: 45%;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
}
@media (max-width: 991px){
    .container{
        width: 750px;
    }
    .form__title{
        padding-top: 100px;
    }
    .form__content{
        padding-bottom: 100px;
    }
    .form__name{
        margin-right: 0;
    }
    .form__text{
        margin-right: 0;
        flex-basis: 50%;
    }
    .form__input{
        width: 80%;
        margin-bottom: 20px;
    }
    .form__social{
        text-align: right;
    }
    .form__inform{
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .button{
        width: 80%;
    }
}
@media (max-width: 767px){
    .container{
        width: 95%;
    }
    .form__title{
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
    }
    .form__content{
        padding-bottom: 50px;
    }
}
@media (min-width: 769px){
    .container{
        width: 95%;
    }
    .button:hover{
        box-shadow: 4px 4px 9px  black;
        background: #D4C170;
        transition: all 0.2s;
    }
}
@media (max-width: 580px){
    .container{
        width: 95%;
    }
    .form__content{
        flex-direction: column;
    }
    .form__text{
        margin-bottom: 25px;
        width: 100%;
    }
    .form__social{
        text-align: center;
    }
    .form__title{
        padding-top: 40px;
        margin-bottom: 30px;
        font-size: 25px;
    }
}